.baldrick-modal-wrap {
  top: 25%;
  right: 25%;
  width: 50%;
  height: 50%;
  background-color: $secondary;
  color: $white;

}

@media #{$small-only} {
  .baldrick-modal-wrap {
    top: 5%;
    right: 5%;
    width: 75%;
    height: 75%;
  }
}
