
#breadcrumbs {
  background: #f4d99f;
  margin-bottom: 4px;
  .breadcrumb-part {
    display: inline;
    float: left;
    margin-left: 2%;
    font-size: 2em;
    background-color: $secondary;
    color: $white;
    padding: 10px 20px;
    a {
      @include gus_focus;
      &:hover {
        padding: 4px;
        background: whitesmoke;
      }
    }


  }
  #site-logo-home-link {
    margin-left: 0;
    background: none;
  }


}



