$primary:#000;
$secondary: #5a180a;
$highlight: #efc771;
$highlight2: #efc771;
$background: #F5F5DC;
$accent: #e2a219;
$accent2: #c88e4a;
$white: #f4d99f;



$complement: complement($primary);

$primaryShade: lighten($primary, 40%);
$primaryTint: darken($primary, 40%);

$secondaryShade: lighten($secondary, 40%);
$secondaryTint: darken($secondary, 40%);

$complementaryShade: lighten($complement, 40%);
$complementaryTint: darken($complement, 40%);

$highlightShade: lighten($highlight, 40%);
$highlightTint: darken($highlight, 40%);

$accentShade: lighten($accent, 40%);
$accentTint: darken($accent, 40%);

$backgroundShade: lighten($background, 40%);
$backgrounTint: darken($background, 40%);


$tabs-navigation-bg-color: $highlight2;
$tabs-navigation-active-bg-color: $accent2;
