
#ht-sub-menu {
  position: fixed;
  top: 0;
  padding-top: 145px;
  overflow: initial;
  .fa{
    margin-right: 20px;
  }
  div {
    display: none;
    margin-top: -100px;
    z-index: 101;
  }
  #ht-sub-menu-button {
    z-index: 103;
    position: absolute;
    text-indent: 200%;
    overflow: hidden;
    top:0;
    border-radius: 3px;
    background-size: 80%;
    width: 30px;
    height: 30px;
    outline: none;
    transition: all 400ms ease;
    &.expanded {
      transform: rotate(90deg);
      background-image: url('https://raw.githubusercontent.com/HoloTree/gus-ui-mods/master/assets/img/ht-logo-tree-only-white-50.png?token=AB5uRyYnjl9QHAbPLkG9KQh2rF2CtpvWks5Ubo5iwA%3D%3D' );
      background-repeat: no-repeat;
      background-position: 50%;
    }
    background-color: $highlight2;
    padding: 4px;
    &:before {
      font-family: FontAwesome;
      top: 0;
      left: -5px;
      content: "\f0c9";
      color: #000;
      font-size: 1.5em;
    }


  }

  a {
    display: block;
    background: $accent2;
    text-align: left;
    padding: 20px;
    border-bottom: 1px solid $white;
    text-decoration: none;
    color: $primary;
    font-weight: bold;
    &:hover, &:active, &:focus {
      background: darken( $highlight2, 3%);
    }

  }


}

