@mixin borders( $color, $width, $rounding ) {
  border: $width solid $color;
  -webkit-border-radius: $rounding;
  border-radius: $rounding;
}

@mixin border-square( $color, $width ) {
  @include borders( $color, $width, 0px );
}

@mixin border-round(  $color, $width ) {
  @include borders( $color, $width, 5px );
}

@mixin ht-border( $color ) {
  @include border-square( $color, 1px );
}

@mixin accent-border() {
  @include ht-border( $accent );
}

@mixin complement-border() {
  @include ht-border( $complement );
}

@mixin highlight-border() {
  @include ht-border( $highlight );
}
