@mixin borders( $color, $width, $rounding ) {
  border: $width solid $color;
  -webkit-border-radius: $rounding;
  border-radius: $rounding;
}

@mixin border-square( $color, $width ) {
  @include borders( $color, $width, 0px );
}

@mixin border-round(  $color, $width ) {
  @include borders( $color, $width, 5px );
}

@mixin ht-border( $color ) {
  @include border-square( $color, 1px );
}

@mixin accent-border() {
  @include ht-border( $accent );
}

@mixin complement-border() {
  @include ht-border( $complement );
}

@mixin highlight-border() {
  @include ht-border( $highlight );
}

@mixin white-border() {
  @include ht-border( $white );
}

@mixin gus_the_1_percent() {
  padding: 1%;
  margin: 1%;
}

@mixin gus_label() {
  @include width-golden-sixth;
  margin-right: percentage( $g12 );
  background-color: $accent2;
  color:  $white;
  text-align: center;
}

@mixin gus_button() {
  @include button($button-med, $accent2, false, false, false, false, null, $accent, false );
  color: $white;
}

@mixin gus_focus() {
  &:active, &:hover, &:focus {
    text-shadow: none;
    -webkit-box-shadow: 0 0 10px rgba(251, 251, 251, 1);
    border-color: #fbfbfb;
    box-shadow: 0 0 10px rgba(251, 251, 251, 1);
  }
}
@mixin submit-button() {
  @include gus_button;
  text-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  @include gus_focus;
}

@mixin gus_label_like() {
  background-color:  $accent2;
  color: $white;
  @include gus_the_1_percent;
}

@mixin gus_content_area() {
  background-color: $background;
  padding: 5%;
  margin-bottom: 5%;
}

