
//color palette
@import "color_palette";

//mixins
@import "mixins";

//normalize
@import "../../../../vendor/zurb/foundation/scss/normalize";

// Global Foundation Settings
@import "../../../../vendor/zurb/foundation/scss/foundation/functions";
@import "foundation/settings";

//sassy_s
@import "sassy_s/sassy_s";


//foundation
@import
"../../../../vendor/zurb/foundation/scss/foundation/components/grid",
"../../../../vendor/zurb/foundation/scss/foundation/components/accordion",
  //"../../../../vendor/zurb/foundation/scss/foundation/components/alert-boxes",
"../../../../vendor/zurb/foundation/scss/foundation/components/block-grid",
  //"../../../../vendor/zurb/foundation/scss/foundation/components/breadcrumbs",
"../../../../vendor/zurb/foundation/scss/foundation/components/button-groups",
"../../../../vendor/zurb/foundation/scss/foundation/components/buttons",
  //"../../../../vendor/zurb/foundation/scss/foundation/components/clearing",
"../../../../vendor/zurb/foundation/scss/foundation/components/dropdown",
"../../../../vendor/zurb/foundation/scss/foundation/components/dropdown-buttons",
  //"../../../../vendor/zurb/foundation/scss/foundation/components/flex-video",
"../../../../vendor/zurb/foundation/scss/foundation/components/forms",
"../../../../vendor/zurb/foundation/scss/foundation/components/inline-lists",
  //"../../../../vendor/zurb/foundation/scss/foundation/components/joyride",
  //"../../../../vendor/zurb/foundation/scss/foundation/components/keystrokes",
"../../../../vendor/zurb/foundation/scss/foundation/components/labels",
  //"../../../../vendor/zurb/foundation/scss/foundation/components/magellan",
  //"../../../../vendor/zurb/foundation/scss/foundation/components/orbit",
"../../../../vendor/zurb/foundation/scss/foundation/components/pagination",
"../../../../vendor/zurb/foundation/scss/foundation/components/panels",
"../../../../vendor/zurb/foundation/scss/foundation/components/pricing-tables",
  //"../../../../vendor/zurb/foundation/scss/foundation/components/progress-bars",
  //"../../../../vendor/zurb/foundation/scss/foundation/components/range-slider",
"../../../../vendor/zurb/foundation/scss/foundation/components/reveal",
"../../../../vendor/zurb/foundation/scss/foundation/components/side-nav",
"../../../../vendor/zurb/foundation/scss/foundation/components/split-buttons",
"../../../../vendor/zurb/foundation/scss/foundation/components/sub-nav",
  //"../../../../vendor/zurb/foundation/scss/foundation/components/switch",
  //"../../../../vendor/zurb/foundation/scss/foundation/components/tables",
"../../../../vendor/zurb/foundation/scss/foundation/components/tabs",
  //"../../../../vendor/zurb/foundation/scss/foundation/components/thumbs",
"../../../../vendor/zurb/foundation/scss/foundation/components/tooltips",
"../../../../vendor/zurb/foundation/scss/foundation/components/top-bar",
  //"../../../../vendor/zurb/foundation/scss/foundation/components/type",
"../../../../vendor/zurb/foundation/scss/foundation/components/offcanvas",
"../../../../vendor/zurb/foundation/scss/foundation/components/visibility";


@import "menu";
@import "breadcrumbs";

body *, .ht_dms_template {
  overflow: hidden;
}

.row { max-width: 98%; }

h1.site-title a, h1.site-title a:visited { color: $tabbar-header-color;}

.left-off-canvas-menu ul, .right-off-canvas-menu ul {
  padding-top: 24px;
  list-style: none;
  a { color: $secondary-color;}

}

#comments {
  padding-top: 48px;
}

h1.widget-title {
  font-size: 2rem;
}

.offcanvas-widget-area {
  padding: 24px 16px;
}

a {
  color:  $links-color;
}

#holotree-dms {
  padding-top: 51px;
  @media #{$small-only} {
    padding-top: 5px;
  }
}

#holotree-dms-title-section{
  a { color: $white; }
  a:hover { color: $white; }
}

#holotree-dms-content {
 // @include complement-border;
}

.tabs-content {
  //@include complement-border;
}

.tabs-content.vertical {
  border-left-width: 0px;
  background-color: $white;
}

ul.tabs.vertical {
  border-right-width: 0px;
  background-color: $highlight2;
}

body {
  background-color: $background;
}

.tabs-content .content, form, .ht_dms_template {
  overflow: scroll;
}

.button a.button, button, button a {
  background-color: $accent2;
  color: $primary;
  &:hover {
    background-color: $highlight2;
  }
}

div#holotree-dms-title-section {
  h2.entry-title { color: $accent;}

  @media #{$small-only} {
    padding-top: 10px;
  }

}


.consensus-view {
  padding: 4px;
  margin: 12px 4px;
  @include white-border;
  h5{ text-align: center; }
}

#ht-dms-third-element {
  background-color: $white;
  overflow:scroll;
  @media #{medium-up} {
    height: 300px;
  }
}


#dms-action-result {
  background-color: #FFF;
  padding: 4px;
  margin: 8px 0 4px;
  text-align: center;
}

@media #{$small-only} {
  .tabs dd>a, .tabs .tab-title>a {
    padding: .05em 1em;
  }
}

.visualize-hierarchy-text {
  font-size: 10px;
  text-align: center;
}

.visualize-hierarchy {
  display: inline-block;
}

.visualize-hierarchy-icon {
  text-align: center;
}

span.breadcrumbs-component a {
  font-size: 1.1618em;
}

.fa {
  vertical-align: text-bottom;
}

.consensus-tab-label {
  span.status {
    margin: 0 4px;
  }
  .fa {
    vertical-align: bottom;
  }
}



.mini-mode {
  ul li {
    padding: 4px;
  }
  .avatar  {
    img {
      width: 24px;
      height: 24px;
    }
  }
}

input[type=checkbox]+label, input[type=radio]+label {
  margin-left: 1.5em;
}
